{% extends 'shared/_layout.html' %}

{% block title %}Password Recovery{% endblock %}

{% block content %}
    <div class="container">
		<section id="form"><!--form-->
			<div class="row">

				<div class="col-sm-6 col-md-offset-3">
					<div class="signup-form"><!--sign up form-->
						<h2>بازیابی اطلاعات بوسیله ی ایمیل</h2>
						<form action="{% url 'password_recovery' %}" method="post">
                            {% csrf_token %}

                            {{ password_recovery_form.email.label_tag }}
                            {{ password_recovery_form.email }}
                            {{ password_recovery_form.email.errors }}

                            <button type="submit" class="btn btn-default">ارسال درخواست</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</section>
	</div>
{% endblock %}