{% extends 'shared/_layout.html' %}

{% block title %}Register New Password{% endblock %}

{% block content %}
    <div class="container">
		<section id="form"><!--form-->
			<div class="row">

				<div class="col-sm-6 col-md-offset-3">
					<div class="signup-form">
						<h2>ثبت رمز عبور جدید</h2>
						<form action="{% url 'password_reset' active_code=user.email_active_code %}" method="post">
                            {% csrf_token %}

                            {{ password_reset_form.new_password.label_tag }}
                            {{ password_reset_form.new_password }}
                            {{ password_reset_form.new_password.errors }}

                            {{ password_reset_form.confirm_new_password.label_tag }}
                            {{ password_reset_form.confirm_new_password }}
                            {{ password_reset_form.confirm_new_password.errors }}

							<button type="submit" class="btn btn-default">ثبت</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</section>
	</div>
{% endblock %}