{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}جزئیات خرید{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                {% if order %}
                    <div class="alert alert-warning">جزئیات فاکتور با شناسه (            {{ order.id }}
)</div>
                    <table class="table table-responsive table-hover table-striped">
                        <tr>
                            <th class="text-right">شناسه محصول</th>
                            <th class="text-right">قیمت نهایی لحظه خرید</th>
                            <th class="text-right">تعداد محصول</th>
                            <th class="text-right">مجموع</th>

                        </tr>
                        {% for detail in order.orderdetail_set.all %}
                            <tr>
                                <td class="text-right">{{ detail.product_id }}</td>
                                <td class="text-right">{{ detail.final_price|three_digit_currency }}</td>
                                <td class="text-right">{{ detail.count }}</td>
                                <td class="text-right">{{ detail.get_total_price|three_digit_currency }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="alert alert-error">فاکتور شما خالی است </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}