{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}تغییر کلمه عبور کاربر{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">

{#                {% if edit_password_form.errors %}#}
{#                    {% for field in edit_password_form.fields %}#}
{#                    	{% for error in field.error %}#}
{#                    		<div class="aler alert-danger">#}
{#                                <strong>{{ error|escape }}</strong>#}
{#                            </div>#}
{#                    	{% endfor %}#}
{##}
{#                    {% endfor %}#}
{#                {% endif %}#}


                <form action="{% url 'user_edit_password' %}" method="post">
                    {% csrf_token %}
                    {{ edit_password_form.as_p }}
                    <button type="submit" class="btn btn-primary pull-right">تغییر کلمه عبور</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}