{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}
s
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">{{ article.title }}</h2>
                        <div class="single-blog-post">
                            <h3>عنوان مقاله: {{ article.title }}</h3>
                            <div class="post-meta">
                                <ul>
                                    {% if article.author is not None %}
                                        <li><i class="fa fa-user"></i>نویسنده: {{ article.author }}</li>
                                    {% else %}
                                        <li><i class="fa fa-user"></i>نویسنده ندارد</li>
                                    {% endif %}
                                    <li><i class="fa fa-clock-o"></i> {{ article.published_date | showjalalidate }}</li>
                                    <li><i class="fa fa-calendar"></i>{{ article.published_date | showtime }}</li>
                                </ul>
                                <span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
                            </div>
                            <a href="">
                                {% thumbnail article.image "862x398" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            </a>
                            <p>{{ article.short_description }}</p>
                            <br>
                            <p>{{ article.description }}</p>
                        </div>
                    </div><!--/blog-post-area-->

                    <div class="rating-area">
                        <ul class="ratings">
                            <li class="rate-this">به این مطلب امتیـاز دهیـد :</li>
                            <li>
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="color">( 6 نظـر )</li>
                        </ul>
                        <ul class="tag">
                            <li>برچسب :</li>
                            <li><a class="color" href="">برچسب 1 <span>/</span></a></li>
                            <li><a class="color" href="">برچسب 2 <span>/</span></a></li>
                            <li><a class="color" href="">برچسب 3</a></li>
                        </ul>
                    </div><!--/rating-area-->

                    <div class="socials-share">
                        <a href=""><img src="/static/images/blog/socials.png" alt=""></a>
                    </div><!--/socials-share-->

                    <div class="media commnets">
                        {% if article.author %}
                            <a class="pull-right" href="#">
                                {% if article.author.avatar %}
                                    {% thumbnail article.author.avatar "121x100" crop="center" as im %}
                                        <img class="media-object" src="{{ im.url }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="media-object" width="121" height="100"
                                         src="/static/images/blog/Customer.jpg" alt="تصویر ندارد">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">نویسنده مقاله : {{ article.author }}</h4>
                                {% if article.author.about_user %}
                                    <p>{{ article.author.about_user }}</p>
                                {% else %}
                                    <p>بدون توضیحات در مورد نویسنده</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div><!--Comments-->

                    <div id="comments_area" class="response-area">
                        <h2>نظرات ({{ comments_count }}) </h2>
                        <ul class="media-list">
                            {% for comment in comments %}
                                {% if comment.articlecomment_set.all %}
                                    <li class="media" id="single-comment-box-{{ comment.id }}">
                                        <a class="pull-right" href="#">
                                            {% if comment.author.avatar %}
                                                {% thumbnail comment.author.avatar "121x100" crop="center" as im %}
                                                    <img class="media-object" src="{{ im.url }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class="media-object" src="/static/images/blog/Customer.jpg" alt="تصویر نویسنده کامنت">
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <ul class="sinlge-post-meta">
                                                <li><i class="fa fa-user"></i>{{ comment.author }}</li>
                                                <li>
                                                    <i class="fa fa-clock-o"></i> {{ comment.create_time | showjalalidate }}
                                                </li>
                                                <li><i class="fa fa-calendar"></i>{{ comment.create_time | showtime }}
                                                </li>
                                            </ul>
                                            <p>{{ comment.comment_text }}</p>
                                            <a class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i class="fa fa-reply"></i>پاسـخ</a>
                                        </div>
                                    </li>
                                    {% for subcomment in comment.articlecomment_set.all %}
                                        <li class="media second-media" id="single-comment-box-{{ comment.id }}">
                                            <a class="pull-right" href="#">
                                                {% if subcomment.author.avatar %}
                                                    {% thumbnail subcomment.author.avatar "121x100" crop="center" as im %}
                                                        <img class="media-object" src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img class="media-object" src="/static/images/blog/Customer.jpg"
                                                         alt="">
                                                {% endif %}
                                            </a>
                                            <div class="media-body">
                                                <ul class="sinlge-post-meta">
                                                    <li><i class="fa fa-user"></i>{{ subcomment.author }}</li>
                                                    <li>
                                                        <i class="fa fa-clock-o"></i> {{ subcomment.create_time | showjalalidate }}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i>{{ subcomment.create_time | showtime }}
                                                    </li>
                                                </ul>
                                                <p>{{ subcomment.comment_text }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="media">

                                        <a class="pull-right" href="#">
                                            {% if comment.author.avatar %}
                                                {% thumbnail comment.author.avatar "121x100" crop="center" as im %}
                                                    <img class="media-object" src="{{ im.url }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <ul class="sinlge-post-meta">
                                                <li><i class="fa fa-user"></i>{{ comment.author }}</li>
                                                <li>
                                                    <i class="fa fa-clock-o"></i> {{ comment.create_time | showjalalidate }}
                                                </li>
                                                <li><i class="fa fa-calendar"></i>{{ comment.create_time | showtime }}
                                                </li>
                                            </ul>
                                            <p>{{ comment.comment_text }}</p>
                                            <a class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i class="fa fa-reply"></i>پاسـخ</a>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div><!--/Response-area-->

                    <div class="replay-box">
                        {% if request.user.is_authenticated %}
                            <div class="row">

                                <div class="col-sm-12">
                                    <h2 id="start_form">نظـر خود را بنویسیـد</h2>
                                    <div class="text-area">
                                        <input type="hidden" value="" id="parent_id">
                                        <div class="blank-arrow">
                                            <label>متن پیام</label>
                                        </div>
                                        <span>*</span>
                                        <textarea id="CommentText" name="message" rows="11"></textarea>
                                        <a class="btn btn-primary" onclick="sendArticleComment({{ article.id }})">ارسـال نظـر</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-warning">
                                برای درج نظر باید در سایت<a href="{% url 'login_page' %}"> لاگین </a>کنید
                            </div>
                        {% endif %}
                    </div><!--/Repaly Box-->

                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% render_partial 'article_module.views.article_categories_component' %}
                        <div class="shipping text-center"><!--shipping-->
                            <img src="/static/images/home/shipping.jpg" alt=""/>
                        </div><!--/shipping-->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}