<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'user_panel_dashboard' %}"><i class="fa fa-user-md"></i>   پنل کاربری</a></li>
    <li class="list-group-item"><a href="{% url 'user_cart' %}"><i class="fa fa-shopping-cart"></i>   سبد خرید</a></li>
    <li class="list-group-item"><a href="{% url 'user_past_cart' %}"><i class="fa fa-calendar"></i> سوابق خرید</a></li>
    <li class="list-group-item"><a href="{% url 'user_edit_profile' %}"><i class="fa fa-edit"></i>   ویرایش اطلاعات</a></li>
    <li class="list-group-item"><a href="{% url 'user_edit_password' %}"><i class="fa fa-refresh"></i>   تغییر کلمه عبور</a></li>
</ul>
